    .image-banner {
        width: 100%;
        height: 530px;
        object-fit: cover;
        margin-bottom: 30px;

    }


    .text {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .link {
        color: black;
    }

    .receipe-duration {
        border-left: 3px solid  #F88379;
        padding: 15px;
    }

    .form-check-input {
        width: 25px !important;
        height: 25px !important;
        border: 1px solid black !important;
        margin-right: 10px;
    }

    .form-check-input:checked {
        background-color:  #F88379 !important;
        outline: none;
        box-shadow: none;
    }

    .form-check-input:focus {
        box-shadow: none !important;
    }


    .custom-checkbox .form-check-input:checked+.label {
        color:  #F88379;
    }


    .step {
        font-size: 23px;
    }

    .label {
        font-size: 20px;
    }
  

    .review_title{
        margin-left: 254px;
        margin-bottom: 25px;
        margin-top: 100px;
    }
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        display: block;
        width: 100%;
        text-align: left;
    }
/* 

    .star {
        display: inline-block;
        font-size: 40px;
        color: #ccc;
        cursor: pointer;
    }

    .star1 {
        display: inline-block;
        font-size: 40px;
        color: #ccc;
    }

    .star:hover,
    .star:hover~.star {
        color:  #F88379;
    }


    .star.checked,
    .star.checked~.star {
        color:  #F88379;
    }

    .star1.checked,
    .star1.checked~.star1 {
        color:  #F88379;
    }

    .star2 {
        display: inline-block;
        font-size: 40px;
        color: #ccc;
        cursor: pointer;
    }

    .star2:hover,
    .star2:hover~.star2 {
        color:  #F88379;
    }

    .star2.checked,
    .star2.checked~.star2 {
        color:  #F88379;
    } */
    
    /* Base styles for all stars */
    .star {
        display: inline-block;
        font-size: 40px;
        color: #ccc;  /* Default star color */
        cursor: default; /* Disable pointer cursor */
    }
    
    .star:hover,
    .star:hover ~ .star {
        color: #F88379;
    }
    
    .star.checked,
    .star.checked ~ .star {
        color: #F88379;
    }
    
    
    .button{
        background-color: #F88379;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
    }
    .button:hover{
        box-shadow: 3px 4px 6px #F88379;
    }
    .comment-btns {
        margin-left: 1054px;
    }

    .editicon {
        color:  #F88379;
        border: none;
        background-color: transparent;

    }
   .list-group-item{
    border-block-color: revert;
   }