/*for home page*/
.button {
    color: white;
    background-color:#F88379;
    position: absolute;
    text-decoration: none;
    transition: box-shadow 0.4s ease;
    padding: 5px 15px;
    border-radius: 5px;
}
.search-message{
    font-size: 20px;
}

.button:hover {
    box-shadow: 3px 4px 6px #F88379;
}

.card {
    transition: box-shadow 0.4s ease;
}

.card:hover {
    box-shadow: 3px 4px 6px #F88379;
}

.card-text {
    text-align: justify;
}

.tags {
    padding: 2px 8px;
    margin: 0 5px 5px 0;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.tags:hover {
    color:  #F88379;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
}
.pagination a, .pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F88379;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 1.0em;
    color:#fc0404;
}
/* .pagination a{
    background-color: rgb(237, 114, 173);
} */

.pagination a:hover {
    background-color: rgb(240, 240, 52); 
}
.pagination span.current-page {
    border: none;
    margin: 0 10px;
    font-size: 1.0em;
    color: #333;
}
.pagination span.current-page strong {
    padding-left: 8px;

}
.delete-btn{
    font-size: 15px; 
    color: red;
    position: absolute; bottom: 4px; right: 30px;
}
 
.delete-btn:hover .ph-trash {
    color: rgb(251, 3, 3);
    font-size: 20px;
}
.update-link {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #61bd4d;
    font-size: 15px; 
}

.update-link:hover .ph-pencil {
    color: green;
    font-size: 20px; 
}

/*user_recipes*/
.add-link{
    color: #a51508; 
    margin-left: 20px;
    text-decoration: none; 
}

.add-link:hover {
    text-decoration: underline; 
}
.welcome{
    padding: 30px 0;
    font-size:20px;
}

.recipe-link{
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
    margin-top: 34px;
    color: #a51508

  }

.recipe-link:hover {
    text-decoration: underline;
}
