{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">

    <div class="bg-body-tertiary" style="box-shadow: 0 10px 25px -18px #F88379; position: fixed;width: 100%; left:0;top: 0;z-index: 1;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary nav-underline mb-1" id="pills-tab" role="tablist">
            <div class="container d-flex">
                <a href="{% url 'recipe_manager:view_recipes' %}">
                    <img src="{{ MEDIA_URL }}images/logo.png" alt="logo" style="width:100px;height: auto;margin-right: 20px;">
                </a>
                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                    <div>
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'recipe_manager:view_recipes' %}">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'users:view_my_recipes' %}">My Recipes</a>
                            </li>
                            
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'save_recipe:saved_recipes' %}">My Favorites 
                                    {% if request.user.is_authenticated %}
                                    {% if saved_recipes_count > 0 %}
                                        ({{ saved_recipes_count }})
                                    {% endif %}
                                {% endif %}
                                </a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'recipe_manager:create_recipes' %}">Add Recipe</a>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown">
                                    <button class="btn bg-none border-none dropdown-toggle fs-5" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ph-bold ph-user"></i>
                                        {{ user.username }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li>
                                            <form method="POST" action="{% url 'users:user_logout' %}">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item btn bg-none border-none fs-6">Log Out</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                            {% else %}
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'recipe_manager:view_recipes' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'recipe_manager:create_recipes' %}">Add Recipe</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'users:user_login' %}">Log In</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link fs-5" aria-current="page" href="{% url 'users:register' %}">Register</a>
                            </li>
                         
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container ">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex">
                    <div class="dropdown">
                        <button class="btn bg-none border-none dropdown-toggle fs-5" type="button" id="recipeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Recipes
                        </button>
                        <ul class="dropdown-menu fs-5" aria-labelledby="recipeDropdown">
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Breakfast">Breakfast</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Lunch">Lunch</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Dinner">Dinner</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Salads">Salads</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Healthy">Healthy</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Soups">Soups</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Desserts">Desserts</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Bakery">Bakery</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Drinks">Drinks</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Vegan">Vegan</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Non-Veg">Non-Veg</a></li>
                        </ul>
                        

                    </div>
                    <div class="dropdown">
                        <button class="btn bg-none border-none dropdown-toggle fs-5" type="button" id="ingredientDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Ingredients
                        </button>
                        <ul class="dropdown-menu fs-5" aria-labelledby="ingredientDropdown">
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Chicken">Chicken</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Seafood">Seafood</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Flour">Flour</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Fruits">Fruits</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Vegetables">Vegetables</a></li>
                        </ul>
                        
                    </div>
                    <div class="dropdown">
                        <button class="btn bg-none border-none dropdown-toggle fs-5" type="button" id="occasionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Occasions </button>
                        <ul class="dropdown-menu fs-5" aria-labelledby="occasionDropdown">
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Summer Recipes">Summer Recipes</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Winter Recipes">Winter Recipes</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Festivals">Festivals</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Birthday">Birthday</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn bg-none border-none dropdown-toggle fs-5" type="button" id="cuisineDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Cuisines
                        </button>
                        <ul class="dropdown-menu fs-5" aria-labelledby="cuisineDropdown">
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Nepali">Nepali</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Italian">Italian</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Indian">Indian</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Japanese">Japanese</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Chinese">Chinese</a></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_manager:view_recipes' %}?tag=Korean">Korean</a></li>
                        </ul>
                    </div>
                </div>

                <form method="GET" action="{% url 'categorize:search_recipes' %}" class="d-flex mb-0" role="search">
                   
                    <div class="input-group">
                        <input class="form-control search" type="text" placeholder="Search Recipe" name="search" value="{{ keyword }}" aria-label="Search">
                        <button class="btnn" type="submit">
                            <i class="ph-bold ph-magnifying-glass fs-4"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>


