{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<main class="container">
    <h1>Recipe List</h1>
    <section>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <!-- align items at same row -->
        </div>
        <div class="row">
            {% if recipes %}
                {% for recipe in recipes %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img class="card-img-top" style="width: 100%; height: 45%; object-fit: cover;"
                             src="{{ recipe.image.url }}" alt="Recipe Image">
                        <div class="card-body">
                            <h4 class="card-title recipe-title">{{ recipe.title }}</h4>
                            <p class="card-text">{{ recipe.description }}</p>
                            <div class="mt-5 mb-5 d-flex flex-wrap">
                                {% for tag in recipe.tags %}
                                <form method="GET" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="tag" value="{{ tag }}">
                                    <button type="submit" class="tags">{{ tag }}</button>
                                </form>
                                {% endfor %}
                            </div>
                         
                          
                            <a href="{% url 'recipe_manager:recipe_details' recipe.id %}" class="button start-1 bottom-0 mb-3">Full Recipe</a>



                            <a href="" style="text-decoration: none; position: absolute; bottom: 10px; right: 10px;">
                                <i class="ph-bold ph-pencil"></i>
                            </a>
                            <form method="post" action="" id="delete-recipe-{{ recipe.id }}">
                                {% csrf_token %}
                                <button type="submit"  class="btn" style=" color: red; position: absolute; bottom: 4px;  right: 30px;"> <i class="ph-bold ph-trash"></i> </button>       
            
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No recipes have been uploaded.</p>
            {% endif %}
        </div>
    </section>
</main>

<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span>&lt;</span>
        {% endif %}
        <span class="current-page">You are on page <strong>{{ page_obj.number }}</strong></span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span>&gt;</span>
        {% endif %}
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    
{% endblock %}
<!--endblock at the end so css effects can be seen-->