{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

{% load sweetify %}

{% sweetify %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">


<main class="container">
    <section>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <!-- align items at same row -->
        </div>
        {% if search_message %}
        <!-- <div class="alert alert-info"> shows blue box -->
        <div class = "search-message">
            {{ search_message|linebreaks }}
        </div>
        {% endif %}

        <div class="row">
            {% if recipes %}
                {% for recipe in recipes %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img class="card-img-top" style="width: 100%; height: 45%; object-fit: cover;"
                             src="{{ recipe.image.url }}" alt="Recipe Image">
                        <div class="card-body">
                            <h4 class="card-title recipe-title">{{ recipe.title }}</h4>
                            <p class="card-text">{{ recipe.description }}</p>

                            
                            <div class="username">
                                Recipe By: <a href="{% url 'users:view_user_recipes' recipe.user_id %}" class="recipe-link">{{ recipe.user}}</a>
                            </div>
                            
                            
                            <div class="mt-5 mb-5 d-flex flex-wrap">
                                {% for tag in recipe.tags %}
                                <form method="GET" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="tag" value="{{ tag }}">
                                    <button type="submit" class="tags">{{ tag }}</button>
                                </form>
                                {% endfor %}
                            </div>
                         
                            <!--here recipe_details should match the name in urls path-->
                            <a href="{% url 'recipe_manager:recipe_details' recipe.id %}" class="button start-1 bottom-0 mb-3">Full Recipe</a>

                            {% if request.user.is_authenticated and recipe.user == request.user %}
                            <a href="{% url 'recipe_manager:update_recipes' recipe.id %}" class="update-link" style="color: #61bd4d">
                                <i class="ph-bold ph-pencil"></i>
                            </a>
                            <!-- add namespace-->
                            <form method="post" id="deleterecipe-{{ recipe.id }}" action="{% url 'recipe_manager:delete_recipes' recipe.id %}" >
                                {% csrf_token %}
                                <button type="submit" onclick="deleteConfirm(event, {{ recipe.id }})" class="btn delete-btn">
                                    <i class="ph-bold ph-trash"></i>      
                            </form>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% if not search_message %}
                <p>No recipes have been uploaded.</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

{% if recipes and not search_message %}
<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span>&lt;</span>
        {% endif %}
        <span class="current-page">You are on page <strong>{{ page_obj.number }}</strong></span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span>&gt;</span>
        {% endif %}
    </div>
</div>
{% endif %}
<script>
      window.deleteConfirm = function(e, recipe_id) {
    e.preventDefault();
    var form = document.getElementById('deleterecipe-' + recipe_id);
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit();
      }
    })
  }
</script>
{% endblock %}
<!--endblock at the end so css effects can be seen-->
