{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

{% load sweetify %}
{%sweetify %}
<div class="container mb-5">
    <img src="{{ recipe.image.url }}" alt="Recipe Image" class="image-banner">

</div>

<div class="receipe-content-area">
    <div class="container mt-3">
        <h4 style="text-align: justify;">{{ recipe.description }}</h4>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    {% if recipe.updated_at != recipe.created_at %}
                    <span>Edited: {{ recipe.updated_at|date:"F j, Y" }}</span><br>
                    <span>Created: {{ recipe.created_at|date:"F j, Y" }}</span>
                    {% else %}
                    <span>{{ recipe.created_at|date:"F j, Y" }}</span>
                    {% endif %}
                    <h2>{{ recipe.title }}</h2>
                    <div class="receipe-duration">
                        <h5>Preparation Time: {{ recipe.time_required }}</h5>
                        <h5>Servings: {{ recipe.servings }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <h2>Steps</h2>
                <div class="step d-flex">
                    <ol>
                        {% for direction in directions %}
                        <li>
                            <p>{{ direction }}</p>
                            
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h3>Ingredients</h3>

                    {% for ingredient in ingredients %}
                    <div class="custom-checkbox d-flex">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="label" for="flexCheckChecked">{{ ingredient }}</label>
                        <!-- <pre>{{ ingredients }}</pre> -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/details.css' %}">

{% endblock %}